<div *ngFor="let s of skillList">
  <div class="entry" *ngIf="!editando || idActual!=s.id">
    <p>{{s.tag}}</p>
    <div class="container">
      <div class="skills" id="skill{{s.id}}">{{s.percentage * 100}}%</div>
    </div> 
    <button class="btn btn-primary" on-click="activarEdicion(s.id)" *ngIf="isLogged()">Editar</button>
    <button class="btn btn-primary" on-click="eliminar(s.id)" *ngIf="isLogged()">Eliminar</button>
  </div>

  <div class="entry" *ngIf="editando && idActual==s.id">
    <p class="txt">Etiqueta:</p>
    <input class="form-control" type="text" name="tag" id="tag"
      [(ngModel)]="skill.tag">
    <p class="txt">Porcentaje (en decimal):</p>
    <input class="form-control" type="number" name="percentage" id="percentage"
      [(ngModel)]="skill.percentage">
    <p class="error" *ngIf="failActualizado">Error al guardar</p>
    <button class="btn btn-primary edit-buttons" on-click="editar(s.id)">Confirmar</button>
    <button class="btn btn-primary edit-buttons" on-click="cancelarEdicion()">Cancelar</button>
  </div>
</div>

<p class="error txt" *ngIf="failCreando">Error al crear un elemento nuevo</p>
<button class="btn btn-primary new-button" on-click="crearNuevo()" *ngIf="isLogged()">Nuevo</button>
