<div class="container-fluid fullwidth" id="top-bar" role="navigation">
    <div class="row top">

        <!-- Logo Arg Programa -->
        <div class="col-9">
            <img src="..\..\assets\logos\arg_prog.png" alt="Argentina Programa" class="logo">
        </div>

        <!-- Redes -->
        <div class="col-1 social d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/catalina-benegas" class="link">
                <img src="..\..\assets\logos\linkedin.png" alt="LinkedIn" class="logo-sm center-block">
            </a>
        </div>
        <div class="col-1 social d-flex justify-content-center">
            <a href="mailto: catalinabenegas@gmail.com" class="link">
                <img src="..\..\assets\logos\gmail.png" alt="Correo" class="logo-sm center-block">
            </a>
        </div>

        <!-- Espacio para el boton Login -->
        <div class="col-1 social d-md-flex justify-content-md-end">
            <app-login-box></app-login-box>
        </div>
        
    </div>
</div>
