<button class="btn btn-outline-light" onclick="document.getElementById('cajaLogin').style.display='block'" style="width:auto;" *ngIf="!isLogged()">Iniciar sesión</button>
<button class="btn btn-outline-light" on-click="Logout()" style="width:auto;" *ngIf="isLogged()">Cerrar sesión</button>

<div id="cajaLogin" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="titlecontainer">
            <span onclick="document.getElementById('cajaLogin').style.display='none'" class="close" title="Close Modal">&times;</span>
            <h2>Inicio de sesión</h2>
         </div>

        <div class="container">
            <label><b>Usuario</b></label>
            <input type="text" placeholder="Ingresar usuario" id="uname" name="uname" required>

            <label><b>Contraseña</b></label>
            <input type="password" placeholder="Ingresar contraseña" id="pwd" name="pwd" required>

            <p class="error" *ngIf="this.failed">Error. {{this.errorMsg}}.</p>

            <button class="btn btn-outline-dark" type="submit" on-click="Login()">Login</button>
        </div>
    </form>
</div>
