<div *ngFor="let e of eduList">
    <div class="entry" *ngIf="!editando || idActual!=e.id">
        <div class="column">
            <img src="{{e.logo}}" class="sqr-logo">
        </div>

        <div class="column title">
            <h4><b>{{e.title}}</b></h4>
            <p style="white-space: pre-line">
                {{e.content}}
            </p>
            <button class="btn btn-primary" on-click="activarEdicion(e.id)" *ngIf="isLogged()">Editar</button>
            <button class="btn btn-primary" on-click="eliminar(e.id)" *ngIf="isLogged()">Eliminar</button>
        </div>
    </div>

    <div class="entry" *ngIf="editando && idActual==e.id">
        <div class="column">
            <img src="{{e.logo}}" class="sqr-logo">
        </div>

        <div class="column title" *ngIf="editando">
            <input class="form-control" type="text" name="title" id="title"
            [(ngModel)]="edu.title">
            <textarea class="form-control" type="text" name="edu" id="edu"
            [(ngModel)]="edu.content" rows="4" cols="40"></textarea>
            <p class="txt">URL de la imagen:</p>
            <input class="form-control" type="text" name="logo" id="logo"
            [(ngModel)]="edu.logo">
            <p class="error" *ngIf="failActualizado">Error al guardar</p>
            <button class="btn btn-primary" on-click="editar(e.id)">Confirmar</button>
            <button class="btn btn-primary" on-click="cancelarEdicion()">Cancelar</button>
        </div>
    </div>
</div>
<p class="error txt" *ngIf="failCreando">Error al crear un elemento nuevo</p>
<button class="btn btn-primary new-button" on-click="crearNuevo()" *ngIf="isLogged()">Nuevo</button>