<div *ngIf="!editando">
    <p style="white-space: pre-line">
        {{aboutme.content}}
    </p>
    <button class="btn btn-primary" on-click="activarEdicion()" *ngIf="isLogged()">Editar</button>
</div>

<div *ngIf="editando">
    <textarea class="form-control" type="text" name="aboutme" id="aboutme"
    [(ngModel)]="aboutme.content" rows="8" cols="40"></textarea>
    <p class="txt">Caracteres restantes: {{2096 - aboutme.content.length}}</p>
    <p class="error txt" *ngIf="failActualizado">Error al guardar</p>
    <button class="btn btn-primary" on-click="editar()">Confirmar</button>
    <button class="btn btn-primary" on-click="cancelarEdicion()">Cancelar</button>
</div>
