<div class="container">
    <nav>
        <ul class="menu">
            <li><a href="#sobremi">
                <h3>Sobre mí</h3>
            </a></li>
            <li><a href="#exp">
                <h3>Experiencia</h3>
            </a></li>
            <li><a href="#edu">
                <h3>Educación</h3>
            </a></li>
            <li><a href="#skills">
                <h3>Skills</h3>
            </a></li>
            <li><a href="#proy">
                <h3>Proyectos</h3>
            </a></li>
    </ul>
    </nav>
</div>

<div class="container slider">
    <ul class="slider">
        <li id="sobremi">
            <div class="row">
                <div class="column title">
                    <h4>SOBRE MÍ</h4>
                </div>
                <div class="column c-content">
                    <app-aboutme></app-aboutme>
                </div>
            </div>
        </li>


        <li id="exp">
            <div class="row">
                <div class="column title">
                    <h4>EXPERIENCIA</h4>
                </div>
                <div class="column c-content">
                    <app-exp></app-exp>
                </div>
            </div>
        </li>

        
        <li id="edu">
            <div class="row">
                <div class="column title">
                    <h4>EDUCACIÓN</h4>
                </div>
                <div class="column c-content">
                    <app-edu></app-edu>
                </div>
            </div>
        </li>
        
        <li id="proy">
            <div class="row">
                <div class="column title">
                    <h4>PROYECTOS</h4>
                </div>
                <div class="column c-content">
                    <app-proy></app-proy>
                </div>
            </div>
        </li>

        <li id="skills">
            <div class="row">
                <div class="column title">
                    <h4>SKILLS</h4>
                </div>
                <div class="column c-content">
                    <app-skills></app-skills>
                </div>
            </div>
        </li>

    </ul>
</div>
